@page "/event"

<h3>Event List</h3>

@if(events is  null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <div>
            <a class="btn btn-primary mb-3"> Add Event</a>
        </div>
        <div>
            <table class="table mb-3">
                <thead>
                    <tr>
                        <th>Event</th>
                        <th>Description</th>
                        <th>Start</th>
                        <th>Start</th>
                        <th>
                            <span>
                                <i class="fa-solid fa-gears"></i>
                            </span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var dto in events)
                    {
                        <tr>
                            <td>@dto.Title</td>
                            <td>@dto.Description</td>
                            <td>@dto.Start.Value.ToShortDateString()</td>
                            <td>
                                @if (@dto.AllDay)
                                {
                                    <span class="badge bg-info">Yes</span>
                                }
                                else
                                {
                                    <span class="badge bg-warning">No</span>
                                }
                            </td>
                            <td>
                                <a href="#" class="btn btn-primary btn-sm">Edit</a>
                                <button class="btn btn-danger btn-sm">Delete</button>
                            </td>
                        </tr>


                    }
                </tbody>
            </table>
        </div>
    </div>


}

@inject HttpClient _http

@code {
    private List<DTOEvent>? events;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            events = await _http.GetFromJsonAsync<List<DTOEvent>>("api/event/get/list");
        }
        catch(Exception ex)
        {
            throw;    
        }
        // StateHasChanged();
    }

}
