/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */


/* Base button style */
.btn {
  display: inline-block;
  font-family: 'Segoe UI', sans-serif;
  font-size: 0.95rem;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid transparent;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-secondary {
  background-color: #6c757d  !important;
  border-color: #6c757d  !important;
  color: #fff  !important;
}

.btn-secondary:hover {
  background-color: #5a6268;
  border-color: #545b62;
}

.btn-success {
  background-color: #28a745;
  border-color: #28a745;
  color: #fff;
}

.btn-success:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-outline-primary {
  background-color: transparent;
  border-color: #007bff;
  color: #007bff;
}

.btn-outline-primary:hover {
  background-color: #007bff;
  color: #fff;
}

.option{
  width: 100%;
}

.selected-option{
  background-color: green !important;
}

.card-footer {
  display: flex;
  justify-content: flex-end; /* push buttons to the right end */
  gap: 10px; /* spacing between buttons */
  margin-top: 16px;
}

.btn-primary:disabled,
.btn-primary.disabled {
  background-color: #6c757d !important; 
  border-color: #6c757d !important;      
  color: #ffffff !important;          
}


.result-footer {
  display: flex;
  justify-content: center; 
  align-items: center;  
}
/* .primary-btn {
  background-color: #007bff;  
  color: white;              
  padding: 10px 20px;         
  border: none;                
  border-radius: 5px;          
  font-size: 16px;             
  cursor: pointer;             
  transition: background-color 0.3s ease; 
}

.primary-btn:hover {
  background-color: #0056b3;   
} */
